.card-container{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}